
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand">Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="<%= foods_path %>" class="nav-link">My Foods</a>
      </li>
      <li class="nav-item">
        <a href=" <%= recipes_path %>" class="nav-link">My Recipes</a>
      </li>
      <li class="nav-item">
      <a href=" <%= public_recipes_path %>" class="nav-link">Public Recipes</a>
      </li>
       <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, form_class: "nav-link" %>
          </li>
    </ul>
  </div>
</div>
</nav>