<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 mt-5 p-2 border shadow-lg bg-white rounded">
      <h4 class="text-center"><%= @recipe.name %></h4>
      <h5 class="text-center">
          Edit Ingredient
      </h5>

      <%= render 'edit' %>

    </div>
  </div>
</div>
